@import 'print.css';
/* @import 'normalize.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

/*==========  Typography ==========*/

body {
  @apply text-gray-100;
}

h1, h2, h3 {
  @apply font-bold leading-tight mt-0 mb-6 text-white;
}

strong {
  @apply text-gray-50 font-bold;
}

.post h1 {
  @apply text-4xl;
}
.post h2 {
  @apply text-3xl font-bold;
}

.page-title {
	@apply text-5xl;
}

figcaption {
  @apply text-center text-sm italic text-gray-600 mt-2 mb-8;
}

code {
  @apply bg-gray-700 text-white px-2 py-1 rounded-sm;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.25em;
}

.content pre[class*=language-] {
  @apply mb-8 bg-gray-800;
  font-size: 1rem;
}

.content img {
  display: inline-block;
}

.content ul {
  @apply mb-8;
  list-style: disc;
  list-style-position: inside;
}

.content table {
  text-align: start;
}
.content tr {
  border-bottom: 1px solid;
}
.content td,
.content th {
  @apply pb-3 pt-3;

  text-align: left;
  vertical-align: top;
}
.content td + td,
.content th + th {
  @apply pl-6;
}

.content * + h2,
.content * + h3 {
  @apply mt-16;
}

a {
  @apply text-red-400 no-underline;
}
a:hover {
  @apply underline;
  text-decoration-thickness: 2px;
}