@import 'print.css';
@import 'prism-synthwave84.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body::before {
  content: "mobile";
  text-transform: uppercase;
  font-size: 10em;
  line-height: 1em
}
@media screen(tablet) {
  body::before {
    content: "tablet";
  }
}
@media screen(desktop) {
  body::before {
    content: "desktop";
  }
} */


@font-face {
  font-family: "Neue World";
  src: url("/fonts/NeueWorld-Regular.woff2") format("woff2");
}
.zinculescu {
  font-family: 'Neue World', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* HEADER ON HOME */
/* HEADER ON HOME */
/* HEADER ON HOME */

body {
  @apply text-gray-100 bg-black;
  background-color: theme('colors.zinc.800');
  --background-vertical-offset: 48vw;
  --background-radial-size: 15vw;
  --background-fade-out-start: 30vw;
  --background-fade-out-end: 80vh;

  background-image:
    radial-gradient(circle at 50vw var(--background-vertical-offset), transparent var(--background-fade-out-start), theme('colors.zinc.800') var(--background-fade-out-end)),
    repeating-radial-gradient( circle at 50vw var(--background-vertical-offset), transparent 0, theme('colors.zinc.800') var(--background-radial-size) ),
    repeating-linear-gradient( theme('colors.zinc.900'), theme('colors.zinc.800') );
}

.header {
  @apply flex-row justify-between items-center;
  height: 80px;
}

.company-logo-link {
  color: theme('colors.white');
  font-size: 19vw;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 10vw;
  padding-top: 4.5vw;
  margin-bottom: 4vw;
  text-align: center;
  text-transform: uppercase;
}
.company-logo-link,
.main {
  margin-top: 20vw;
}

@media screen(tablet) {
  body {
    --background-vertical-offset: 22.6vw;
  }

  .company-logo-link {
    font-size: 20.6vw;
  }

  .company-logo-link,
  .main {
    margin-top: 10vw;
  }
}

@media screen(desktop) {
  body {
    @apply bg-zinc-800;
    --background-vertical-offset: 15vw;
    --background-radial-size: 15vw;
    --background-fade-out-start: 40vw;
    --background-fade-out-end: 100vw;
  }

  .company-logo-link {
    @apply mt-6;
    font-size: 18vw;
  }

  .company-logo-link,
  .main {
    margin-top: 4vw;
  }
}


/*  */
/* POSTS */
/*  */

body.posts {
  --background-vertical-offset: 9vw;
}
@media screen(tablet) {
  body.posts {
    --background-vertical-offset: 4.3vw;
  }
}
@media screen(desktop) {
  body.posts {
    --background-vertical-offset: 2vw;
  }

  .header {
    height: 4vw;
  }
}



h1, h2, h3 {
  @apply font-bold leading-tight mt-0 mb-6 text-white;
}

strong {
  @apply font-bold;
}

a {
  @apply text-red-400 no-underline;
}
a:hover {
  @apply underline;
  text-decoration-thickness: 2px;
}

.post h1 {
  @apply text-4xl;
}
.post h2 {
  @apply text-3xl font-bold;
}

figcaption {
  @apply text-center text-sm italic text-gray-600 mb-8;
  margin-top: theme('margin.2') !important;
}

code {
  @apply bg-gray-700 text-white px-2 py-1 rounded-sm;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.25em;
}

.content pre[class*=language-] {
  @apply mb-8 bg-gray-800;
  font-size: 1rem;
}

.content img {
  display: inline-block;
}

.content ul {
  @apply mb-8;
  list-style: disc;
  list-style-position: inside;
}

.content table {
  text-align: start;
}
.content tr {
  border-bottom: 1px solid;
}
.content td,
.content th {
  @apply pb-3 pt-3;

  text-align: left;
  vertical-align: top;
}
.content td + td,
.content th + th {
  @apply pl-6;
}

.content * + h2,
.content * + h3 {
  @apply mt-16;
}



.mobile-nav-toggle .mobile-nav-icon-line {
  height: 2px;
}

.mobile-nav-toggle.menu-toggle-active .mobile-nav-icon-line {
  margin: 0;
  --bg-opacity: 1;
  background-color: #FF1002;
  background-color: rgba(255, 16, 2, var(--bg-opacity));
}

.mobile-nav-toggle.menu-toggle-active .mobile-nav-icon-line:nth-child(1) {
  transform: rotate(45deg) translateY(3px);
}

.mobile-nav-toggle.menu-toggle-active .mobile-nav-icon-line:nth-child(2) {
  opacity: 0;
}

.mobile-nav-toggle.menu-toggle-active .mobile-nav-icon-line:nth-child(3) {
  transform: rotate(-45deg) translateY(-3px);
}

.post {
  @apply text-gray-50;
}
.post-width,
.post p,
.post h2,
.post h3,
.post ul,
.post table,
.post pre,
.post code
{
  @apply w-full max-w-3xl mx-auto ;
}
.post p {
  @apply text-lg leading-7 font-normal tracking-wide text-justify;
}
.post > *:not(:first-child) {
  @apply mt-10;
}
.post h2 {
  @apply mb-0;
}
.post h2 + p {
  @apply mt-5 !important;
}
.post ul {
  list-style: disc;
  list-style-position: inside;
}

@media screen(tablet) {
  .post {
    @apply text-slate-50;
  }
  .post p {
    @apply text-xl leading-9 ;
  }

  .post-width,
  .post p,
  .post h2,
  .post h3,
  .post ul,
  .post table,
  .post pre,
  .post code
  {
    @apply w-full max-w-xl mx-auto ;
  }
}

@media screen(desktop) {
  .post-width,
  .post p,
  .post h2,
  .post h3,
  .post ul,
  .post table,
  .post pre,
  .post code
  {
    @apply w-full max-w-3xl mx-auto ;
  }
}

code[class*="language-"],
pre[class*="language-"] {
  @apply rounded-xl;
}

.post table {
  @apply border-t;
}
.post th,
.post td {
  @apply border-b;
}
.post th,
.post td {
  @apply align-top text-left py-2;
}
.post th + th,
.post td + td {
  @apply pl-4;
}

.figma {
  @apply aspect-video outline-1 rounded-xl;
}

.youtube {
  @apply rounded-xl drop-shadow-lg;
  width: 100%;
  aspect-ratio: 16/9;
}