<figure class="screenshot mt-10 mx-auto {{ photo.class }}">
  <div class="screenshot__inside">
    <img src="{{ photo.path }}" alt="{{ photo.alt }}" class="rounded-xl" />
  </div>
</figure>
<figcaption class="mb-0 text-gray-100 not-italic">
  {%- if photo.caption -%}
    {{ photo.caption }}
  {%- else -%}
    {{ photo.alt }}
  {%- endif -%}
</figcaption>