<figure class="screenshot mt-10 mx-auto {{ photo.class }}">
  <div class="screenshot__inside">
    <img src="{{ photo.path }}" alt="{{ photo.alt }}" class="rounded-xl" />
  </div>
</figure>
{%- if photo.caption -%}
  <figcaption class="mb-0 text-gray-100 not-italic">
    {{ photo.caption }}
  </figcaption>
{%- endif -%}