<header id="header" class="header flex w-full max-w-6xl mx-auto px-6">

    {% include 'components/nav.njk' %}
    {# include mobile nav #}
    {# {% include "components/mobile-nav.njk" %} #}

</header>