<header id="header" class="header flex flex-row justify-between p-6 pb-2 md:pb-6">

	{% include "components/logo.njk" %}
	{% include 'components/nav.njk' %}
  {# include mobile nav #}
  {% include "components/mobile-nav.njk" %}

</header>
