{% if tags %}
  {% for item in tags %}
    {%- if item != "blog" -%}
      <a class="font-normal text-red-400 mr-1 tablet:mr-2" href="/category/{{ item }}/">{{ item }}</a>
      {# <a class="font-normal {% if item == "Case Study" %}bg-yellow-500 hover:bg-yellow-400 px-2 py-1 rounded text-black hover:no-underline{% else %}text-red-400{% endif %} mr-1 tablet:mr-2" href="/category/{{ item }}/">{{ item }}</a> #}
    {%- endif -%}
  {% endfor %}
{% endif %}