<div>
  <h2 class="text-gray-200 text-xl font-normal uppercase border-b border-gray-700 pb-4 mb-4">
      Side Projects
    </h2>
  <ul>
    <li>
      <a href="https://ecsspert.com" target="_blank">
        <img src="/images/ecsspert-logos-preview.jpg" class="mb-3 rounded-xl" alt="Screenshot of eCSSpert.com"/>
      </a>
      <a href="https://ecsspert.com" target="_blank" class="text-white font-bold">
          eCSSpert.com
        </a>
      <p>Famous logos designed entirely in CSS3, plus other fun CSS experiments. <a href="https://news.ycombinator.com/item?id=3159660" target="_blank">#1 on Hacker News</a> for 2 days.</p>
    </li>
    <li class="mt-6">
      <a href="https://zoreet.com" target="_blank" class="text-white font-bold">zoreet.com</a>
      <p>zoreet is a to-do app that helps you focus on what you can achieve right now. Plan ahead, let go of unfinished tasks and celebrate your achievements.</p>
    </li>
  </ul>
</div>
</div>