<figure class="sr-screenshot mt-10 md:mt-20 {{ photo.class }}">
  <div class="sr-screenshot__inside">
    <img data-lazy="{{ photo.path }}" alt="{{ photo.alt }}" />
  </div>
</figure>
{% if photo.caption %}
  <figcaption>{{ photo.caption }}</figcaption>
{% else %}
  <figcaption>{{ photo.alt }}</figcaption>
{% endif %}