<figure class="screenshot mt-10 md:mt-20 {{ photo.class }}">
  <div class="screenshot__inside">
    <img data-lazy="{{ photo.path }}" alt="{{ photo.alt }}" />
  </div>
</figure>
<figcaption class="mb-10 md:mb-20">
  {%- if photo.caption -%}
    {{ photo.caption }}
  {%- else -%}
    {{ photo.alt }}
  {%- endif -%}
</figcaption>