<footer id="footer" class="footer flex flex-col md:flex-row md:justify-between items-center p-4 md:p-6">

  <p class="pb-8 md:pb-0">© 2022 Vlad Zinculescu</p>

  {% include 'components/social-icons.njk' %}

</footer>
