@media print {

  html {
    font-size: 3mm;
  }
  .content h2 {
    font-size: 6mm;
  }
  .content h3 {
    font-size: 4mm;
  }

  .content {
    padding-left: 70px;
    padding-right: 70px;
  }

  * {
    color: #000 !important
  }
  body {
    background: none !important;
  }

  em, figcaption {
    font-family: sans-serif;
    font-size: inherit;
  }

  .content a:after {
    content: " (" attr(href) ")";
    font-style: italic;
    font-family: sans-serif;
  }
  .content a[href^="#"]:after {
    display: none;
  }

  header .company-logo-link {
    text-align: center;
    width: 100%;
  }
  header nav {
    display: none !important;
  }
  header h1 {
    text-align: center;
  }
  footer {
    display: none !important;
  }
}