
//==========  Typography ==========//

body {
  @apply text-gray-100;
}

// headings
h1, h2, h3 {
    @apply font-bold leading-tight mt-0 mb-6 text-white;
}

.post {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl font-bold;
  }

  .highlight {
    @apply text-2xl font-serif p-8 italic;
  }

}

strong {
  @apply text-gray-50 font-bold;
}

.page-title {
	@apply text-5xl;
}

figcaption {
  @apply text-center text-sm italic text-gray-600 mt-2 mb-8;
}

// content
.content {

	// paragraph
	p {
    @apply mb-8 text-base leading-relaxed;

    @screen md {
      @apply text-xl;
    }

        // intro paragraph
		// &:first-child {
		// 	@apply text-xl mb-10 text-gray-100 font-serif leading-normal;

		// 	@screen md {
    //     @apply text-2xl;
    //   }
    // }
    code {
      @apply bg-gray-700 text-white px-2 py-1 rounded-sm;
      display: inline-block;
      font-size: 0.9em;
      line-height: 1.25em;
    }
  }

  pre[class*=language-] {
    @apply mb-8 bg-gray-800;
    font-size: 1rem;
  }

  img {
    display: inline-block;
  }

  ul {
    @apply mb-8;
    list-style: disc;
    list-style-position: inside;
  }

  table {
    text-align: start;

    tr {
      border-bottom: 1px solid;
    }
    td,
    th {
      @apply pb-3 pt-3;

      text-align: left;
      vertical-align: top;
    }
    td + td,
    th + th {
      @apply pl-6;
    }
  }

  * + h2,
  * + h3, {
    @apply mt-16;
  }
}
