body {
    background-color: #000;
    color: #fff;
    font-family: 'Exo', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 13px;
}
.title {
    font-size: 2em;
    margin: 0;
}
a {
    color: #fc0;
    text-decoration: none;
    font-weight: 700;
}
a:hover {
    color: #f00;
}
a:active {
    color: #c00;
}





.hero {
    width: 100vw;
    overflow-x: hidden
}




.portrait img {
    display: block;
    margin-top: -30px;
    position: relative;
    width: 100%;
    z-index: -1;
}




.hello {
    text-align: center;
}
.hello__intro {
    font-size: 2em;
    margin: 1em 0 0 0;
}
.hello__name {
    font-size: 10em;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
}




.ecsspert__intro {
    text-align: center;
    margin: 10px 0 20px;
}
.ecsspert__preview img {
    width: 100vw;
}
.ecsspert__title {
    display: block;
    margin: -6px 0 0;
}
.ecsspert__subtitle {
    font-size: 1.5em;
    margin: 0;
}
.ecsspert__info {
    padding: 10px 20px;
}
.ecsspert__featured {
    margin: 0 0 40px;
    padding: 0 20px;
}





.world {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 10px 0 20px;
}
.world__intro {
    padding: 0 20px;
}
.world__intro .arrow-down-emoji {
    display: none;
}
.world__link {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    transition: all 0.3s;
}
.world:hover .world__link:not(:hover) {
    opacity: 0.5;
}
.world__link svg {
    fill: #fff;
    height: 32px;
    opacity: 0.5;
    transition: transform .3s;
}

.world__link:hover svg {
    opacity: 1;
}
.world__link:active svg {
    transform: scale(0.9)
}



.github:hover {
    background-color: #181717
}
.dribbble:hover {
    background-color: #EA4C89
}

.instagram:hover {
    background-color: #E4405F
}

.youtube:hover {
    background-color: #FF0000
}

.medium:hover {
    background-color: #1C1B1A
}

/* FROM https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
/* Laptop */
@media screen
and (min-width: 1366px) {
    body {
        font-size: 16px;
    }




    
    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto 20vh;
        height: 100vh;
        width: 100vw;
    }





    .portrait {
        grid-column: 1;
        grid-row: 1 / span 3;
        position: relative;
    }
    .portrait,
    .portrait:after {
        background-color: #030200;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .portrait:after {
        background-image: url("img/zinc-big-other-side.jpg");
        background-position: 0 100%;
        content: "";
        display: block;
        height: 100%;
        left: 100%;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
    .portrait img {
        margin: 0;
        z-index: auto;
    }





    .hello,
    .title {
        text-align: initial;
    }
    .hello__name {
        font-size: 14em;
        font-weight: 700;
        line-height: 1em;
        margin: 0 0 0 -6px; /* to align the Z with the column */
    }




    .ecsspert {
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 14px;
        grid-template-columns: 210px auto;
        grid-template-rows: auto auto 1fr;
        margin-top: 20px;
        max-width: 840px;
    }
    .ecsspert__intro {
        grid-column: span 2;
        margin: 0;
    }
    .ecsspert__preview {
        border-radius: 4px;
        grid-row: 2 / span 2;
        overflow: hidden;
    }
    .ecsspert__preview img {
        display: block;
        width: 100%;
    }
    .ecsspert__info,
    .ecsspert__featured {
        margin: 0;
        padding: 0;
    }




    .world {
        grid-column: span 2;
        margin: 0;
    }
    .world__intro {
        transform: translateY(9px);
        padding: 0;
    }
    .world__intro .arrow-down-emoji {
        display: inline-block;
    }
    .world__link svg {
        height: 6vh;
    }
}



/* FROM http://stephen.io/mediaqueries */
/* iPAD */
/* @media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    #hero {
        font-size: 24px;
    }
    h1 {
        font-size: 146px
    }
    #about p {
        font-size: 14px;
    }
    #featured-on {
        clear: both;
    }
} */