
//==========  Imports  ==========//

// Import Tailwind preflight
@tailwind base;


// Import our custom base styles
@import 'base/all';


// Import Tailwind components
@tailwind components;


// Import our custom component styles
@import 'components/all';


// Import Tailwind utilities
// TailwindCSS recommends leaving utilities till last to ensure they aren't overwritten.
@tailwind utilities;

.sr-screenshot {
  display: block;
  margin-left: 50%;
  text-align: center;
  transform: translateX(-50vw);
  width: 100vw;
}

.sr-screenshot__inside {
  display: inline-block;
}

@media print {

  * {
    color: #000 !important
  }

  html {
    font-size: 12px;
  }

  em {
    font-style: normal;
  }
}