---
layout: default
meta_title: Home
meta_description: The online portfolio of Zinc. Desing, CSS, Javascript, articles and more.
body_class: home
title: Zinc, a designer who codes and <span class="text-red-600">♥️</span> the web.
---

<main id="main" class="main w-full max-w-6xl ml-auto mr-auto px-6 flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre" aria-label="Summary and features">

        <div class="md:grid grid-cols-12 gap-8 items-center mb-24">

          <div class="col-span-3 md:rounded-full bg-right bg-cover" style="padding-top: 100%; background-image: url(https://zinc.world/img/zinc-big.jpg)"></div>

          <div class="col-span-9 mt-8 md:mt-0">

            <h3 class="mb-2 text-gray-600 text-4xl font-bold">Hello</h3>

            <h1 class="page-title leading-tight text-4xl lg:text-6xl mb-0 leading-none">
              I'm Zinc, a designer who codes and <span class="text-red-600">♥️</span> the web.
            </h1>

          </div>

        </div>

    </section>
    
    <div class="md:grid grid-cols-3 grid-rows-1 gap-16">
      <div class="col-start-1 col-end-3">
        <div class="content">

            <h2 class="text-gray-500 text-xl font-semibold uppercase border-b border-gray-700 pb-4 mb-8">Latests posts</h2>

            {% for post in collections.blog %}
              <article class="mb-12">
                <h1 class="mb-2 text-3xl">
                  <a class="text-white hover:text-red-600" href="{{ post.url }}">
                    {{ post.data.title }}
                  </a>
                </h1>
                <div class="flex text-gray-500">
                  <span class="border-r border-gray-600 pr-4 mr-4">{{ post.date | dateDisplay }}</span>
                  {% for item in post.data.tags %}
                    {%- if item != "blog" -%}
                      <a class="text-gray-500 hover:text-red-600 mr-3" href="/category/{{ item }}/">#{{ item }}</a>
                    {%- endif -%}
                  {% endfor %}
                </div>
                <p class="mt-4">{{ post.data.excerpt }}<p>
              </article>
            {% endfor %}

        </div>
      </div>
      <div class="col-start-3">
        <div>
          <h2 class="text-gray-500 text-xl font-semibold uppercase border-b border-gray-700 pb-4 mb-4">
            Projects
          </h2>
          <ul class="mt-4">
            <li>
              <a href="https://ecsspert.com" target="_blank">
                <img src="/images/ecsspert-logos-preview.jpg" class="mb-3" alt="Screenshot of eCSSpert.com" />
              </a>
              <a href="https://ecsspert.com" target="_blank">
                eCSSpert.com
              </a>
              <p class="text-base mt-1">Famous logos designed entirely in CSS3, plus other fun CSS experiments</p>
            </li>
            <li class="mt-5">
              <a href="https://zoreet.com" target="_blank">zoreet.com</a>
              <p class="text-base mt-1">zoreet is a to-do app that helps you focus on what you can achieve right now. Plan ahead, let go of unfinished tasks and celebrate your achievements.</p>
            </li>
          </ul>
        </div>
        <div class="mt-12">
          <h2 class="text-gray-500 text-xl font-semibold uppercase border-b border-gray-700 pb-4 mb-4">
            If you want to hire me
          </h2>
          <p class="mb-4">I'm currently a <strong>Senior UX Designer</strong>, working for <a href="https://booking.com" target="_blank">Booking.com</a> in Amsterdam.</p>
          <p class="mb-4">I'm interested in opportunities where I can have a <strong>big impact</strong> and make people <strong>happy</strong>. If you have one, <a href="#">drop me a message</a> right now.</p>
          <p>Here are is some info you might be interested in:</p>
          <ul class="list-disc mt-4 pl-5">
            <li class="mb-2"><a href="#">Cover letter</a></li>
            <li class="mb-2"><a href="#">CV</a></li>
            <li class="mb-2"><a href="#">123 Refferences</a></li>
          </ul>
        </div>
      </div>
    </div>


</main>


