---
layout: default
meta_title: Categories
meta_description: Categories page description
body_class: categories
title: Categories
pagination:
  data: collections
  size: 1
  alias: category
permalink: /category/{{ category }}/
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <article id="container-centre" class="column centre flex-1">

        <header>
            <h1 class="page-title text-white text-3xl md:text-5xl mb-16 lg:mb-24 lg:text-6xl">Category — {{ category | capitalize }}</h1>
        </header>

        <div class="md:grid grid-cols-3 grid-rows-1 gap-16">
            <div class="col-start-1 col-end-3">
                <div class="content">

                    <h2 class="text-gray-200 text-xl font-semibold uppercase border-b border-gray-700 pb-4 mb-8">Latest posts</h2>

                    {% for post in collections[category] %}

                    <article class="mb-12">
                        <h1 class="mt-1 mb-2 text-3xl">
                            <a class="text-white" href="{{ post.url }}">
                                {{ post.data.title }}
                            </a>
                        </h1>
                        <p>{{ post.data.excerpt }}<p>
                    </article>

                    {% endfor %}
                </div>
            </div>
            <div class="col-start-3">
        <div>
        <div>
          <h2 class="text-gray-200 text-xl font-semibold uppercase border-b border-gray-700 pb-4 mb-4">
            If you want to hire me
          </h2>
          <p class="mb-4">I'm currently a <strong>Senior UX Designer</strong>, working for <a href="https://booking.com" target="_blank">Booking.com</a> in Amsterdam.</p>
          <p class="mb-4">I'm interested in opportunities where I can have a <strong>big impact</strong> and <strong>help users</strong>. If you have one, <a href="mailto:vladzinculescu@gmail.com">drop me a message</a>.</p>
          <p>Here are is some info you might be interested in:</p>
          <ul class="list-disc mt-4 pl-5">
            <li class="mb-2"><a href="https://docs.google.com/document/d/1TGjw629muYza0f6bUgzdmgnxX8DeCH1Yt6pGwgVMMq0/edit?usp=sharing">CV</a></li>
            <li class="mb-2">Refferences available on request</li>
          </ul>
        </div>
      </div>
        </div>

    </article>

</main>
